/* IMPORTACAO DAS FONTS */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);



/* PARTICULAS DA TELA DE LOGIN */
#particles-js{
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}
/* ./PARTICLES.JS */


* {
    outline: none;
    text-decoration: none;
}
*:hover{
    text-decoration: none;
}
/* GLOBAIS */
body{
    position: relative;
    max-width: 100%;
    height: 100%;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    background-color: #f3f3f4;
    color: #2f4050;
}
main{
    padding: 0 15px;
    min-height: 568px;
    position: relative !important;
    margin-left: 220px;
    -webkit-transition: margin-left .3s ease-in-out;
    -moz-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
}
/* ============================================================================= */
/* EXCLUSIVO PARA O MAIN E NAVBAR-DEFAULT */
.full{
    margin-left: 0!important;
    -webkit-transition: margin-left .3s ease-in-out;
    -moz-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
}
/* ============================================================================= */
/* ============================================================================= */
/* TIPOGRAFIA */
.thin{
    font-weight: 300;
}



/* ============================================================================= */
.link{
    position: relative;
    z-index: 302;
    font-weight: 500;
    color: #ffffff;
    margin-left: 20px;
}
.link:hover{
    text-decoration: none;
    color: #ffffff;
}
.link:after{
    content: " ";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #ffffff;
    transition: width .3s ease;
}
.link:hover:after{
    width: 40%;
    transition: width .3s ease;
}
.link--simple{
    text-decoration: underline;
    color: currentColor;
}
/* ============================================================================= */
/* ============================================================================= */
/* TELA DE LOGIN */
.wrapper {
    background: url(../imagem/user-bg.jpg) center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.login{
    background-color: #3da595;
}
.login .container{
    width: 400px;
}
.login .panel{
    border: none;
    border-radius: 1px;
    margin: 20vh auto 10px;
    position: relative;
    z-index: 301;
}
.login .panel-heading{
    //background-color: #369284;
    background-color: transparent;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    text-align: center;
    border-color: transparent;
    padding: 50px 0 10px;
}
.login .panel-heading .panel-title{
    color: #286d63;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    padding: 15px 0;
}
.login .panel-body{
    padding: 20px 20px 30px;
}
.login .form-group{
    position: relative;
}
/* ============================================================================= */
/* ============================================================================= */
/* ALERTAS */
.alert-success{
    background-color: #7fd0ca;
    border-radius: 1px;
    border: none;
    border-bottom: 2px solid #40ada5;
}
.alert p{
    color: #ffffff;
}
.alert .close {
    float: right;
    font-size: 21px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    text-shadow: none;
    filter: .5;
    opacity: .5;
}
.alert-warning {
    color: #ffffff;
    border-color: transparent;
    background-color: #dc8d8d;
    margin-top: -10px;
    text-align: left;
    padding: 1px 5px;
    border-radius: 1px;
    font-size: 11px;
}


.login .alert{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    border-radius: 2px;
}
.login .alert-warning {
    color: #ffffff;
    border-color: transparent;
    background-color: #dc8d8d;
    margin-top: -10px;
    text-align: right;
    padding: 1px 5px;
    position: absolute;
    top: 0px;
    right: 0;
}
/* ============================================================================= */
/* ============================================================================= */

/* ============================================================================= */
/* ============================================================================= */
/* FORMULARIOS */
.form-control{
    height: 40px;
    padding: 0 12px;
    box-shadow: none;
    border-radius: 1px;
    border-color: #e3e3e3;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.form-control:focus{
    box-shadow: none;
    border-color: #3da595;
}
.form-control[type=file]{
    padding: 8px;
}
.img-thumb{
    padding: 12px;
    width: 100%;
    border: 1px solid #eeeeee;
    text-align: center;
}
.img-thumb img{
    min-height: 150px;
    max-height: 150px;
    width: auto;
    margin: 0 auto;
}
/* ============================================================================= */
/* ============================================================================= */


/* ============================================================================= */
/* ============================================================================= */
/* BOTOES */
.btn{
    border-radius: 1px;
    text-transform: uppercase;
    font-size: 14px;
    overflow: hidden;
}
.btn.btn-xs{
    font-size: 11px;
    text-transform: capitalize;
}
.btn-primary.outline{
    color: #53a6b2;
    background-color: transparent;
    border-color: #53a6b2;
    font-weight: 500;
    transition: background-color .3s ease, color .3s ease;
}
.btn-primary.outline:hover{
    background-color: #53a6b2;
    color: #ffffff;
    transition: background-color .3s ease, color .3s ease;
}
.btn-primary{
    background-color: #105b80;
    border-color: #105b80;
    font-weight: 500;
    transition: background-color .3s ease, color .3s ease;
}
.btn-primary:hover{
    background-color: #0d4b69;
    border-color: #0d4b69;
    color: #ffffff;
    transition: background-color .3s ease, color .3s ease;
}
.btn-login{
    position: relative;
    min-width: 144px;
    height: 40px;
}
.btn-login span:nth-child(1){
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: -10%;
    color: currentColor;
    transition: right .3s ease, color .3s ease;
}
.btn-login:hover span:nth-child(1){
    right: 20%;
    color: #ffffff;
    transition: right .3s ease, color .3s ease;
}
.btn-login span:nth-child(2){
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 0;
    right: 0;
    transition: left .3s ease;
}
.btn-login:hover span:nth-child(2){
    left: -10%;
    transition: left .3s ease;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus, {
    color: #fff;
    background-color: #39777f;
    border-color: #39777f;
    box-shadow: none;
    outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline-offset: 0;
}

.btn-success{
    color: #fff;
    background-color: #53b2a6;
    border-color: #107780;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-success:hover,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.btn-success:active,
.btn-success.active{
    background-color: #107780;
    border-color: #107780;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-success span:nth-child(2){
    margin-left: 5px;
}

.btn-default span:last-child{
    margin-left: 5px;
}
/* ============================================================================= */
/* ============================================================================= */


/* ============================================================================= */
/* ============================================================================= */
/* NAVBAR */
.navbar-default{
    background-color: #e6e6e8;
    border-bottom: 1px solid #d9d9dc;
    margin: 0 0 0 220px;
    -webkit-transition: margin-left .3s ease-in-out;
    -moz-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
}
.navbar-default .sidebar-hide-box{
    position: relative;
    top: 10px;
    left: 0px;
    z-index: 5000;
    border-radius: 2px;
    border: none;
    width: 40px;
    height: 40px;
    color: rgba(255,255,255,.75);
    background-color: #7fd0ca;;
}
.navbar-default .sidebar-hide-box span{
    font-weight: 700;
}
.navbar-default .navbar-nav > li > a {
    color: rgba(47,64,80,.75);
    font-weight: 500;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #2f4050;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #2f4050;
}

.navbar-nav > .dropdown .label {
    position: absolute;
    top: 13px;
    left: 23px;
}

.dropdown-messages{
    padding: 15px;
    min-width: 300px;
}
.dropdown-messages-box{

}

.dropdown-messages-box .media-body{

}




.panel-default.panel-custom{
    border: 1px solid #e3e3e3;
    border-radius: 1px;
    margin: 0 auto 10px;
    position: relative;
    z-index: 301;
}
.panel-default.panel-custom > .panel-heading{
    background-color: #369284;
    border-radius: 1px;
    border-color: transparent;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}
.panel-default.panel-custom > .panel-heading .panel-title{
    color: #286d63;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    padding: 15px 0;
}
.panel-default.panel-custom > .panel-body{
    padding: 20px 20px 30px;
}


/* ============================================================================= */
/* ============================================================================= */
/* SIDEBAR */
aside{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    background-color: #107780;
    z-index: 1000;
    position: absolute;
    top: 0;
    width: 220px;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    -webkit-transition: margin-left .3s ease-in-out;
    -moz-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
}

aside.hide-sidebar {
    margin-left: -250px;
    -webkit-transition: margin-left .3s ease-in-out;
    -moz-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
}
aside .nav > li a{
    color: rgba(255,255,255,.75);
}
aside .user{
    padding: 15px;
    text-align: center;
    height: 220px;
    margin-bottom: 15px;
    background: url(../imagem/user-bg.jpg) right;
}
aside .user span{
    color: rgba(255,255,255,.75);
    font-size: 11px;
}
aside .user span strong{
    font-weight: 700;
    font-size: 14px;
}
aside .user figure img{
    width: 50%;
    margin: 0 auto 15px;
}
aside .nav > li> a{
    border-radius: 0;
}
aside .nav li.active{
    background-color: #107780;
}
aside .nav > li.active > a,
aside .nav > li.active > a:hover,
aside .nav > li.active > a:focus {
    color: #ffffff;
    background-color: rgba(255,255,255,.045);
    font-weight: 700;
}
aside .nav > li > a{
    color: rgba(255,255,255,.75);
}

aside .nav > li > a:hover,
aside .nav > li > a:focus {
    color: #ffffff;
    background-color: rgba(255,255,255,.045);
}
aside .nav > li >ul{
    list-style: none;
}
aside .nav > li > ul > li {
    padding: 0;
    margin: 0;
}
aside .nav > li > ul > li > a{
    display: block;
    text-decoration: none;
    padding-left: 30px;
    -webkit-transition: padding-left .3s ease-in-out;
    -moz-transition: padding-left .3s ease-in-out;
    -o-transition: padding-left .3s ease-in-out;
    transition: padding-left .3s ease-in-out;
}
aside .nav > li > ul > li > a:hover{
    color: #ffffff;
    padding-left: 40px;
    -webkit-transition: padding-left .3s ease-in-out;
    -moz-transition: padding-left .3s ease-in-out;
    -o-transition: padding-left .3s ease-in-out;
    transition: padding-left .3s ease-in-out;
}

/* ============================================================================= */
/* ============================================================================= */
/* TABELA */
table{
    font-weight: 600;
}

/* DATATABLES */
div.dataTables_wrapper div.dataTables_filter label input.form-control{
    margin: 0 0 0 10px;
}
div.dataTables_wrapper div.dataTables_length select {
    margin: 0 10px;
}
table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}
table.dataTable thead th.sorting:after {
    content: "\f07d";
    color: #000;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f176";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f175";
}
/* ============================================================================= */
/* ============================================================================= */
/* CABECALHOS, CONTEUDOS, BREADCRUMB , PAGINACAO*/
.page-header{
    background-color: #ffffff;
    padding: 15px 35px;
    margin: 20px 0;
    border: none;
    border-radius: 3px;
}
.page-header h1{
    margin-top: 0;
}
.page-content{
    background-color: #ffffff;
    padding: 35px;
    border-radius: 3px;
}
.breadcrumb {
    padding: 10px 15px;
    margin-bottom: 0;
    list-style: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
}
.breadcrumb a {
    color: #107780;
    text-decoration: none;
}
.breadcrumb > li + li:before {
    font-family: FontAwesome;
    content: "\f101";
}
.pagination {
    border-radius: 1px;
    font-weight: 500;
}
.pagination > li > a, .pagination > li > span {
    padding: 6px 12px;
    color: #107780;
    border: 1px solid #ddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #107780;
    background-color: rgba(16,119,128,.08);
    border-color: #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span{
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #107780;
    border-color: #107780;
}


/* ============================================================================= */
/* ============================================================================= */
/* SUMMERONOTE */
.note-toolbar{
    background-color: #f3f3f4!important;
}
.note-btn{
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 1px;
}
.note-btn span:last-child{
    margin-left: 0;
}
.note-editor.note-frame {
    border: 1px solid #ddd;
    border-radius: 1px;
}



/* ============================================================================= */
/* ============================================================================= */
/* MODAL */
.modal-open .modal {
    z-index: 2222;
}
