/*
    ANDRÉ CARELLO

    VERSAO: 0.1 PRE ALFA
    DATA: 25/05/2016
    ATUALIZADO: 25/05/2016
*/
/*
    INDICE
    IMPORTACAO DE FONTES

*/

/* ============================================================================= */
/* IMPORTACAO DE FONTES */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);



/* ============================================================================= */
/* GLOBAIS */
*{
    padding: 0;
    margin: 0;
    box-shadow: none;
}

html,body{

}
body{
    font-family: 'Lato', Arial, Tahoma, Helvetica, sans-serif;
    background-color: #122737;
}
a,a:hover{
    text-decoration: none;
}
.no-padding{
    padding: 0;
}
.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;
}
.no-margin{
    margin: 0 !important;
}
figure{
    overflow: hidden;
}
/* ============================================================================= */
/* TIPOGRAFIA */
h1{
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0;
}

h5{
    font-weight: 900;
}
/*============================================================================== */
/* CORES */
.amarelo{color: #feda6f}
.azul{color: #3e9b99}
.cinza-escuro{color: #3c3943}
.cinza{color: #dcdcfa}
.vermelho{color: #ff5945}

/* ============================================================================= */
/* BOTOES */
.btn-default{
    background-color: transparent;
    height: 50px;
    line-height: 50px;
    padding: 0 75px;
    border: 1px solid #FFFFFF;
    color: rgba(255,255,255,.75);
    border-radius: 0;
}
.btn-default:hover {
    color: #FFFFFF;
    background-color: rgba(255,255,255,.3);
    border-color: #FFFFFF;
}

.btn-success{
    float: right;
    margin-top: 15px;
    width: 200px;
    border-radius: 0;
    height: 75px;
    background-color: #162C3C;
    border: none;
    font-size: 15px;
    color: rgba(255,255,255,.75);
    text-transform: uppercase;
}
.btn-success:hover{
    background-color: #162C3C;
    font-weight: 700;
    color: #FFFFFF;
}
.btn.btn-news{
    display: block;
    background-color: #E51937;
    color: rgba(255,255,255,.75);
    height: 80px;
    line-height: 80px;
    padding: 0;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 0;
}
.btn.btn-news:hover{
    color: #FFFFFF;
    font-weight: 900;
}
/* ============================================================================= */
/* HEADER */
header{
    position: relative;
    height: 750px;
    width: 100%;
    overflow: hidden;
}
header .header-absolute{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-bg{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* ============================================================================= */
/* NAVBAR-DEFAULT */
.navbar-default{
    height: 100px;
    background-color: rgba(30,30,30,.8);
    border: none;
}
.navbar-brand{
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: #E51937;
}
.navbar-brand > img {
    display: block;
    height: 100%;
    padding: 10px 30px;
}
.navbar-default .navbar-nav > li > a {
    color: #E51937;
    height: 100px;
    line-height: 100px;
    padding: 0 10px;
    border-bottom: 0px solid transparent;
    font-size: 18px;
    font-weight: 700;
    transition: border-bottom .3s ease-in-out;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #F8F8F8;
    background-color: transparent;
    border-bottom: 5px solid #E51937;
    transition: border-bottom .3s ease-in-out;
}

.navbar-default .navbar-toggle {
    position: absolute;
    right: 0;
    top: 2px;
    border-radius: 0;
    height: 80px;
    width: 80px;
}
.navbar-default .navbar-toggle:hover {
    background-color: rgba(30,30,30,.75);
    border-color: #1E1E1E;
}
.navbar-toggle .bar {
    width: 42px;
    height: 2px;
    border-radius: 0;
    margin: 0 auto 11px;
    background-color: #E1E1E1;
}
.navbar-toggle .bar:nth-child(1){
    margin-top: 24%;
    transform: rotate(0);
    -webkit-transition: transform .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
}
.navbar-toggle .bar:nth-child(2){
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
    transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
}
.navbar-toggle .bar:nth-child(3){
    transform: rotate(0);
    -webkit-transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
}


.navbar-toggle.close-menu .bar:nth-child(1){
    transform: rotate(45deg);
    width: 100%;
    -webkit-transition: transform .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
}
.navbar-toggle.close-menu .bar:nth-child(2){
    opacity: 0;
    margin-top: -24%;
    -webkit-transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
    transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
}
.navbar-toggle.close-menu .bar:nth-child(3){
    transform: rotate(-45deg);
    width: 100%;
    margin-top: -24%;
    -webkit-transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
}
/* PARA A NAVBAR TER UM COLLAPSE COM UMA RESOLUCAO MAIOR */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-default .container{
        width: 100%;
        padding: 0;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .navbar-default .navbar-nav.navbar-right{
        float: none !important;
    }
    .navbar-default .navbar-nav{
        background-color: #E51937;
    }
    .navbar-default .navbar-nav > li{
        background-color: #E51937;
        border-left: 1px solid #CE1631;
        text-align: center;
    }
    .navbar-default .navbar-nav > li:first-child{
        border-left: 2px solid transparent;
    }
    .navbar-default .navbar-nav > li > a{
        color: #F8F8F8;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #F8F8F8;
        background-color: #E51937;
        text-align: center;
    }
}
@media only screen and (max-width: 767px){
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 100%;
    }
    .navbar-default .navbar-collapse{
        border:none;
        background-color: #31cbd1;
    }
    .navbar-default .navbar-nav > li {
        width: 50%;
        float: left;
    }
    .navbar-default .navbar-nav > li::after {
        clear: both;
        display: table;
        content: " ";
    }
    .navbar-default .navbar-nav > li:nth-child(2n+1) > a{
        border-right: 1px solid #219094;
        border-top: 1px solid #219094;
    }
    .navbar-default .navbar-nav > li:nth-child(2n) > a{
        border-top: 1px solid #219094;
    }
    .navbar-default .navbar-nav > li:nth-child(1) > a,
    .navbar-default .navbar-nav > li:nth-child(2) > a{
        border-top: none;
    }
    .navbar-default .navbar-nav > li:nth-child(6) > a{
        border-bottom: 1px solid #219094;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #F8F8F8;
        background-color: transparent;
        border-bottom: none;
        transition: border-bottom .3s ease-in-out;
    }
}
















/* ============================================================================= */
/* LAST GAME INFO*/
.last-game-info{
}
.last-game-info .container{
    padding: 0;
}
.last-game-info .result{
    background-color: #E51937;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 25px 0 50px;
}/*
.last-game-info .result::after{
    content: " ";
    height: 50px;
    width: 100%;
    display: block;
    background: #E51937;
    background: -webkit-linear-gradient(#E51937, #122737);
    background: -o-linear-gradient(#E51937, #122737);
    background: -moz-linear-gradient(#E51937, #122737);
    background: linear-gradient(#E51937, #122737);
}*/

.last-game-info .result h1{
    font-weight: 900;
    color: #A01126;
}
.last-game-info .result .logo{
    text-align: center;
    width: 100%;
}
.last-game-info .result .logo img{
    width: 270px;
}
.last-game-info .result h2{
    height: 250px;
    font-size: 202px;
    color: #F8F8F8;
    font-weight: 900;
    margin: 0;
    text-align: center;
}
.last-game-info .result h2 span{
    color: rgba(160,17,38,.5);
}
.last-game-info .result h3,
.last-game-info .result h3{
    text-align: center;
    color: #F8F8F8;
    font-weight: 700;
    font-size: 18px;
}
.last-game-info .match-name{
    color: rgba(230,200,200,.6);
    text-align: center;
    font-weight: 700;
    margin-top: -20px;
}


.next-games{

}
.next-games .container{
    padding: 0;
}
.next-games .table{
    background-color: #FFFFFF;
}
.next-games .table tr{
    border:none;
}
.next-games .table tr:nth-child(2n){
    background-color: rgba(246,149,144,.1);
}
.next-games .table tr td{
    border:none;
    vertical-align: middle;
}
.next-games .table tr td img{
    height: 30px;
}
.next-games .table tr td:nth-child(1){
    text-align: right;
}
.next-games .table tr td:nth-child(2),
.next-games .table tr td:nth-child(4){
    width: 60px;
    text-align: center;
}
.next-games .table tr td:nth-child(3){
    width: 25%;
    text-align: center;
    color: rgba(18,39,55,.5);
}



/* THE TEAM */
.team-home{
    position: relative;
    height: 900px;
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
}
.team-home .container{
    position: relative;
}
.team-home .team-parallax{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../imagens/ball.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.team-home .content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18,39,55,.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-box-shadow:    inset  0  10px 15px -5px rgba(18,39,55,.75),
                        inset  0 -10px 15px -5px rgba(18,39,55,.75);
    -webkit-box-shadow: inset  0  10px 15px -5px rgba(18,39,55,.75),
                        inset  0 -10px 15px -5px rgba(18,39,55,.75);
     box-shadow:        inset  0  10px 15px -5px rgba(18,39,55,.75),
                        inset  0 -10px 15px -5px rgba(18,39,55,.75);
}

.team-home .content span.title{
    font-size: 70px;
    font-weight: 300;
    color: #F8F8F8;
    padding: 15px 25px;
}
.team-home .content p{
    font-size: 16px;
    font-weight: normal;
    width: 70%;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    line-height: 180%;
}
.team-home .content .player{
    padding: 0 25px;
}
.team-home .content .player figure{
    height: 100%;
    max-height: 320px;
    overflow: hidden;
    position: relative;
}
.team-home .content .player figure img{
    height: 100%;
    height: 320px;
}
.team-home .content .btn-default{
    position: absolute;
    right: 144px;
    top: 234px;
    padding: 0 75px;
}
#owl-demo p{
    background-color: #E51937;
    margin: 0 30px;
    padding: 10px;
    width: 320px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
    position: relative;
}
#owl-demo p small{
    font-size: 14px;
    text-transform: capitalize;
}
#owl-demo p big{
    position: absolute;
    left: 10px;
    bottom: 50px;
    font-size: 130px;
    color: #A01126;
    font-weight: 900;
}



/* OWL CAROUSEL */
#owl-demo{
    margin-top: 100px;
}
.owl-controls{
    position: absolute;
    top: -50px;
    right: 5px;
}
.owl-prev, .owl-next{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-prev{
    margin: 0;
}
.owl-next{
    margin: 0 25px 0 0;
    border-left: none;
}
.owl-prev:hover, .owl-next:hover{
    background-color: rgba(255,255,255,.3);
}
.owl-next .fa, .owl-prev .fa{
    color: rgba(255,255,255,.75);
}
.owl-prev:hover .fa, .owl-next:hover .fa{

}

/* ============================================================================= */
/* TEAM */
.team{
    position: relative;
    min-height: 900px;
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
}
.team .container{

}
.team h1{
    font-size: 75px;
    font-weight: 900;
    color: #122737;
    background-color: #FFFFFF;
    margin-top: 100px;
}
.team .player{
    position: relative;
    width: 100%;
    min-height: 320px;
    max-height: 320px;
    overflow: hidden;
}
.team .player figure{
    width: auto;
    min-height: 320px;
    max-height: 320px;
    overflow: hidden;
}
.team .player figure img{
    transform: scale(1);
    transition: transform .3s ease-in-out;
}
.team .player .player-info{
    opacity: 1;
    position: absolute;
    top: 100%;
    background-color: #E51937;
    width: 100%;
    height: 100px;
    text-align: right;
    padding-top: 10px;
    color: #FFFFFF;
    margin-top: -100px;
    padding: 40px 15px 5px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.team .player .player-info h5{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
}
.team .player .player-info big{
    position: absolute;
    left: 10px;
    bottom: 0px;
    font-size: 130px;
    font-weight: 900;
    color: #A01126;
    transition: color .3s ease-in-out;
}
.team .player a:hover .player-info{
    background-color: #FFFFFF;
    color: #122737;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.team .player a:hover .player-info big{
    color: #122737;
    transition: color .3s ease-in-out;
}
.team .player a:hover figure img{
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}
/* ============================================================================= */
/* ============================================================================= */



/* ============================================================================= */
/* ============================================================================= */
/* NEWS HOME */
.news-home{
    position: relative;
    margin: -400px auto 180px;
}
.news-home .container{
    padding: 0;
}
.news-home h1{
    font-size: 70px;
    font-weight: 300;
    color: #F8F8F8;
    padding: 100px 25px 30px;
}
.news-home .article{
    background-color: #FFFFFF;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
}
.news-home .article h3{
    font-weight: 900;
    color: #122737;
    text-align: right;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}
.news-home .article h5{
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 0;
    text-transform: uppercase;
}
.news-home .article p{
    font-size: 15px;
    text-align: right;
    line-height: 150%;
    color: #122737;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}
.news-home .article:nth-child(1) h3{
    font-size: 20px;
    padding: 5px 35px;
}
.news-home .article:nth-child(1) p{
    padding: 5px 30px;
}
.news-home .article:nth-child(2) h3{
    font-size: 50px;
    padding: 15px 35px;
}
.news-home .article:nth-child(2) p{
    padding: 15px 30px;
}
.news-home .article ul {
    list-style: none;
}
.news-home .article ul li{
    padding: 5px 20px;
}
.news-home .article ul li:nth-child(2n) {
    background-color: rgba(246,149,144,.1);
}
.news-home .article ul li a{
    padding: 5px;
    color: rgba(255,255,255,75);
    display: block;
}
.news-home .article ul li a:hover{
    color: #FFFFFF;
    font-weight: 700;
}
.news-home .article ul li small{
    float: right;
    color: #CCCCCC;
    padding: 5px;
}
.news-home .article ul li small::after{
    clear: both;
}
.news-home .article figure{
    width: 100%;
    overflow: hidden;
}
.news-home .article figure img{
    width: 100%;
    height: auto;
}
.news-home .article:hover{
    background-color: #E51937;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
}
.news-home .article.last{
    background-color: #E51937;
}
.news-home .article:nth-child(2) p {
    padding: 15px 30px;
}
.news-home .article:hover h3, .news-home .article:hover p{
    color: rgba(255,255,255,.75);
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}
.news-home .btn.btn-more-news{
    display: block;
    background-color: #E51937;
    color: rgba(255,255,255,.75);
    height: 80px;
    line-height: 80px;
    padding: 0;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 0;
}
.news-home .btn.btn-more-news:hover{
    color: #FFFFFF;
    font-weight: 900;
}

.news-home .news-social{
    background: #FFFFFF;
    position: absolute;
    opacity: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}
.news-home .article:nth-child(2) .news-social{
    height: 120px;
}
.news-home .news-social{
    height: 75px;
}
.news-home .article:hover .news-social{
    opacity: 1;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}
.news-home .article .news-social a{
    background-color: #FFFFFF;
    height: 75px;
    width: 75px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    float: left;
    width: 25%;
    color: #122737;
    -webkit-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}
.news-home .article:nth-child(2) .news-social a{
    height: 120px;
}
.news-home .article .news-social a:hover{
    background-color: #E51937;
    color: #FFFFFF;
    -webkit-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}
.news-home .article .news-social a i{
    display: flex;
    align-items: center;
}
/* ============================================================================= */
/* ============================================================================= */
/* NEWS & POST*/
.news,
.post {
    padding-top: 130px;
}
.news .container,
.post .container{
    padding: 0;
}
.news h1{
    font-size: 70px;
    font-weight: 300;
    color: #F8F8F8;
    padding: 0 25px 30px;
}
.news .article,
.post .article{
    background-color: #FFFFFF;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
}

.news .row.no-margin:nth-child(2n+1) .article{
    background-color: #FEF5F4;
}

.news .article h3{
    font-weight: 900;
    color: #122737;
    text-align: left;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}
.post h3{
    font-size: 62px;
    font-weight: 900;
    color: #FFFFFF;
}
.news .row.no-margin:nth-child(2n+1) .article h3{
    text-align: right;
}
.post .article h5{
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 0;
    text-transform: uppercase;
}
.news .article p,
.post .article p{
    font-size: 15px;
    text-align: left;
    line-height: 150%;
    color: #122737;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}
.news .row.no-margin:nth-child(2n+1) .article p{
    text-align: right;
}

.post p{
    padding: 15px 30px;
}
.post .article ul {
    list-style: none;
}
.post .article ul li{
    padding: 5px 20px;
}
.post .article ul li:nth-child(2n) {
    background-color: rgba(246,149,144,.1);
}
.post .article ul li a{
    padding: 5px;
    color: rgba(255,255,255,75);
    display: block;
}
.post .article ul li a:hover{
    color: #FFFFFF;
}
.post .article ul li small{
    color: #CCCCCC;
    padding: 5px;
}
.post .article ul li small::after{
    clear: both;
}
.news .article figure,
.post .article figure{
    width: 100%;
    overflow: hidden;
}
.news .article figure img,
.post .article figure img{
    width: 100%;
    height: auto;
}

.post .article.last{
    background-color: #E51937;
}

.post .news-social{
    background: #FFFFFF;
    position: absolute;
    opacity: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}
.post .article:nth-child(2) .news-social{
    height: 120px;
}
.post .news-social{
    height: 75px;
}
.post .article .news-social a{
    background-color: #FFFFFF;
    height: 75px;
    width: 75px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    float: left;
    width: 25%;
    color: #122737;
    -webkit-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}
.post .article:nth-child(2) .news-social a{
    height: 120px;
}
.post .article .news-social a:hover{
    background-color: #E51937;
    color: #FFFFFF;
    -webkit-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}
.post .article .news-social a i{
    display: flex;
    align-items: center;
}

.news .btn.btn-news{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 290px;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.news .row.no-margin:nth-child(2n+1) .article .btn.btn-news {
    left: 0;
}
/* ============================================================================= */
/* ============================================================================= */




.others{

}
.others .container{
    padding: 0;
}
.standings-home .standings-header{
    width: 100%;
    background-color: #FFFFFF;
}
.standings-home .standings-header h1{
    font-size: 75px;
    font-weight: 900;
    color: #122737;
}

.standings-home .standings-body{

}
.standings-home .standings-body .table{

}
.standings-home .standings-body .table > thead > tr > th{
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}
.standings-home .standings-body .table > tbody > tr > td{
    border-color: transparent;
    text-align: center;
}
.standings-home .standings-body .table > thead > tr > th:nth-child(2),
.standings-home .standings-body .table > tbody > tr > td:nth-child(2){
    text-align: left;
}
.standings-home .standings-body .table > tbody > tr:nth-child(2n+1) > td{
    background-color: #162C3C;
}
.standings-home .standings-body .table th{

}
.standings-home .standings-body .table td{
    color: #FFFFFF;
}


/* ============================================================================= */
/* HISTORIA DO TIME */
.a{
    padding-top: 80px;
}
.a .container{
    padding: 0;
}
.a h1{
    font-size: 75px;
    font-weight: 900;
    color: #FFFFFF;
    background-color: transparent;
    margin-top: 100px;
}
.a-body{
    background-color: #FFFFFF;
    padding: 50px 30px;
}
.a-body p{
    font-size: 15px;
    text-align: left;
    line-height: 150%;
    color: #122737;
}

.a .standings-home .standings-header {
    background-color: transparent;
}
.a .standings-home .standings-header h1{
    color: #FFFFFF;
}

/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* CHAMPIONSHIP */
.championship{
    position: relative;
    min-height: 900px;
    width: 100%;
    overflow: hidden;
    padding-top: 180px;
}
.championship h1{
    font-weight: 900;
    font-size: 72px;
    color: #FFFFFF;
}
.nav-pills > li > a {
    border-radius: 0;
}
.nav .nav-pills{

}
.nav .nav-pills .nav-stacked{

}
.nav-stacked > li {
    float: none;
    border-bottom: 1px solid #A01126;
}
.nav-pills li:last-of-type {
    border-bottom: none;
}
.nav-pills > li > a {
    border-radius: 0;
    padding: 10px 20px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #E51937;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #122737;
    background-color: #FFFFFF;
}
.nav-pills > li + li {
    margin-top: 0px;
}
.tab-content{
    background-color: #FFFFFF;
}
.tab-content td img{
    height: 25px;
}
.tab-content tr th,
.tab-content tr td {
    text-align: center;
}
.tab-content tr th:nth-child(2),
.tab-content tr td:nth-child(2) {
    text-align: left;
}

/* ============================================================================= */
/* ============================================================================= */



/* ============================================================================= */
/* FOOTER */
footer{
    background: url(../imagens/stadium.png) no-repeat center center / cover;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 75px;
}
footer .overlay{
    position: relative;
    -moz-box-shadow: inset 0 10px 15px -5px rgba(18,39,55,.75),
                     inset 0 -10px 15px -5px rgba(18,39,55,.75);
    -webkit-box-shadow: inset 0 10px 15px -5px rgba(18,39,55,.75),
                        inset 0 -10px 15px -5px rgba(18,39,55,.75);
    box-shadow: inset 0 10px 15px -5px rgba(18,39,55,.75),
                inset 0 -10px 15px -5px rgba(18,39,55,.75);
    height: 100%;
    width: 100%;
    background-color: rgba(18,39,55,.75);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 25px;
}
footer .overlay h5{
    color: #FFFFFF;
}
footer .overlay p{
    font-size: 15px;
    color: #FFFFFF;
}
footer .overlay ul {
    list-style: none;
}
footer .overlay ul li a{
    color: rgba(255,255,255,.5);
}
footer .overlay ul li a:hover{
    color: #FFFFFF;
    font-weight: 700;
}
footer .form-group{
    margin-bottom: 0px;
}
footer .form-control{
    background-color: #FFFFFF;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    font-weight: 700;
    color: #122737;
    line-height: 40px;
    height: 40px;
    border: 1px solid rgba(255,255,255,.75);
}
footer textarea.form-control{
    height: 100px;
    resize: none;
}
footer .form-control:focus{
    border-bottom-color: #FFFFFF;
    box-shadow: none;
}
footer label{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #E51937;
    height: 40px;
    width: 100px;
}
footer .form-group:last-child label{
    height: 100px;
}
footer h1{
    background-color: #FFF;
    padding: 15px;
    font-weight: 900;
    color: #122737;
}
footer .social-media{
    margin-top: 84px;
}
footer .social-media a{
    background-color: #FFFFFF;
    height: 75px;
    width: 75px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    float: left;
    width: 25%;
    color: #122737;
    -webkit-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}
footer .social-media a:hover{
    background-color: #E51937;
    color: #FFFFFF;
    -webkit-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}
footer .social-media a i{
    display: flex;
    align-items: center;
}




/* ============================================================================= */
/* MODAL */
.modal-dialog{
    width: 100%;
    margin: 0;
    border-radius: 0;
    position: absolute;
}
.modal {
    /*! adjust transition time */
    -webkit-transition: all ease-out !important;
    -moz-transition: all 0.3s ease-out !important;
    -o-transition: all 0.3s ease-out !important;
    transition: all 0.3s ease-out !important;
}
.modal.in .modal-dialog {
    /*! editthis transform to any transform you want */
    -webkit-transform: scale(1, 1) !important;
    -ms-transform: scale(1, 1) !important;
    transform: scale(1, 1) !important;
}
.modal.fade .modal-dialog {
    /*! disable sliding from left/right/top/bottom */
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-content{
    min-height: 100vh;
    padding-bottom: 50px;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-title{
    background-color: #122737;
    min-height: 150px;
    display: flex;
    align-items: center;
    padding: 0 45px;
    font-size: 72px;
    font-weight: 900;
    color: #FFFFFF;
    border: none;
}
.modal-header{
    padding: 0;
}
.modal-header .close{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 72px;
    color: #FFFFFF;
    opacity: 1;
    height: 150px;
    background: #E51937;
    width: 150px;

}
.icon-x{
    width: 150px;
    height: 3px;
    background-color: #FFFFFF;
}
.icon-x:first-of-type{
    transform: rotate(45deg);
}
.icon-x:last-of-type{
    transform: rotate(-45deg);
}
.modal h5{
    color: #122737;
    text-transform: uppercase;
}
.modal table{
    width: 100%;
}
.modal table thead{
    background-color: #122737;
}
.modal table thead tr{

}
.modal table thead tr th{
    padding: 10px;
    color: #FFFFFF;
    font-weight: normal;
}
.modal table tbody{

}
.modal table tbody tr{
    background-color: #FFFFFF;
}
.modal table tbody tr:nth-child(2n){
    background-color: #EEEEEE;
}
.modal table tbody tr td{
    padding: 10px;
    font-weight: 700;
}
.modal ul{
    list-style: none;
    margin-bottom: 50px;
}
.modal ul li{
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    color: #122737;
}
.modal p{
    font-size: 15px;
    font-weight: normal;
    line-height: 150%;
    color: #122737;
}


/* PAGINACAO */
.pagination{
    margin: 0 auto;
}
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0;
}
.pagination > li > a, .pagination > li > span {
    padding: 10px 20px;
    color: #122737;
    background-color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: 900;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #E51937;
    color: #FFFFFF;
    border: 0;
}
.input-group{
    margin-bottom: 5px;
}
.input-group-addon {
    padding: 6px 12px;
    color: #FFFFFF;
    text-align: center;
    background-color: #E51937;
    border: none;
    border-radius: 0;
}
.input-group-addon:hover {
    background-color: #122737;
    color: #FFFFFF;
}
.input-group .form-control{
    background-color: #FFFFFF;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    font-weight: 700;
    color: #122737;
    line-height: 40px;
    height: 40px;
    border: 1px solid rgba(255,255,255,.75);
}
.post label{
    color: #FFFFFF;
    padding: 5px 12px;
}
