/*
    ANDRÉ CARELLO

    VERSAO: 0.1 PRE ALFA
    DATA: 25/05/2016
    ATUALIZADO: 25/05/2016
*/
/*
    INDICE
    IMPORTACAO DE FONTES

*/

/* ============================================================================= */
/* IMPORTACAO DE FONTES */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);



/* ============================================================================= */
/* GLOBAIS */
*{
    padding: 0;
    margin: 0;
    box-shadow: none;
}

html,body{
    height: 100%;
}
body{
    font-family: 'Lato', Arial, Tahoma, Helvetica, sans-serif;
    background-color: #434463;
    font-size: 15px;
    text-align: left;
    line-height: 150%;
    color: #222222;
}
a,a:hover{
    text-decoration: none;
}
.no-padding{
    padding: 0;
}
.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;
}
.no-margin{
    margin: 0 !important;
}
figure{
    overflow: hidden;
}
/* ============================================================================= */
/* TIPOGRAFIA */
h1{
    font-size: 75px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0;
    background-color: #FFFFFF;
    color: #434463;
}

h5{
    font-weight: 900;
}

h4{
    font-size: 30px;
    font-weight: 900;
    color: #FFFFFF;
}

.thin{
    font-weight: 700;
}
/* ============================================================================= */
/* CORES */
.amarelo-escuro{
    color: #CB8810;
}

/* ============================================================================= */
/* ============================================================================= */
/* BOTOES */
.btn-default{
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    color: #FFFFFF;
    border: none;
    border-bottom: 2px solid #B4780E;
    background-color: #E39812;
    border-radius: 0;
}
.btn-default:hover {
    color: #FFFFFF;
    background-color: #B4780E;
    border-color: #B4780E;
    box-shadow: 0 5px 10px rgba(30,30,30,.2);
}

.btn-success{
    float: right;
    margin-top: 15px;
    width: 200px;
    border-radius: 0;
    height: 75px;
    background-color: #162C3C;
    border: none;
    font-size: 15px;
    color: rgba(255,255,255,.75);
    text-transform: uppercase;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active,
.btn-success:active,
.btn-success.active.focus,
.btn-success.active:hover,
.btn-success:active:focus,
.btn-success:active:hover{
    background-color: #162C3C;
    font-weight: 700;
    color: #FFFFFF;
}

.btn.btn-news{
    display: block;
    background-color: #434463;
    color: rgba(255,255,255,.75);
    height: 80px;
    line-height: 80px;
    padding: 0;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 0;
}
.btn.btn-news:hover{
    color: #FFFFFF;
    font-weight: 900;
}
/* ============================================================================= */
/* HEADER */
header{
    position: relative;
    height: 750px;
    width: 100%;
    overflow: hidden;
}
header .header-absolute{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-bg{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* ============================================================================= */
/* NAVBAR-DEFAULT */
.navbar-default{
    height: 100px;
    background-color: rgba(30,30,30,.8);
    border: none;
}
.navbar-brand{
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: #EFAE39;
}
.navbar-brand > img {
    display: block;
    height: 100%;
    padding: 10px 30px;
}
.navbar-default .navbar-nav > li > a {
    color: #EFAE39;
    height: 100px;
    line-height: 100px;
    padding: 0 10px;
    border-bottom: 0px solid transparent;
    font-size: 18px;
    font-weight: 700;
    transition: border-bottom .3s ease-in-out;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #F8F8F8;
    background-color: transparent;
    border-bottom: 5px solid #EFAE39;
    transition: border-bottom .3s ease-in-out;
}

.navbar-default .navbar-toggle {
    position: absolute;
    right: 0;
    top: 2px;
    border-radius: 0;
    height: 80px;
    width: 80px;
}
.navbar-default .navbar-toggle:hover {
    background-color: rgba(30,30,30,.75);
    border-color: #1E1E1E;
}
.navbar-toggle .bar {
    width: 42px;
    height: 2px;
    border-radius: 0;
    margin: 0 auto 11px;
    background-color: #E1E1E1;
}
.navbar-toggle .bar:nth-child(1){
    margin-top: 24%;
    transform: rotate(0);
    -webkit-transition: transform .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
}
.navbar-toggle .bar:nth-child(2){
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
    transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
}
.navbar-toggle .bar:nth-child(3){
    transform: rotate(0);
    -webkit-transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
}


.navbar-toggle.close-menu .bar:nth-child(1){
    transform: rotate(45deg);
    width: 100%;
    -webkit-transition: transform .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
}
.navbar-toggle.close-menu .bar:nth-child(2){
    opacity: 0;
    margin-top: -24%;
    -webkit-transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
    transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
}
.navbar-toggle.close-menu .bar:nth-child(3){
    transform: rotate(-45deg);
    width: 100%;
    margin-top: -24%;
    -webkit-transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out, margin-top .3s ease-in-out;
}
/* PARA A NAVBAR TER UM COLLAPSE COM UMA RESOLUCAO MAIOR */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-default .container{
        width: 100%;
        padding: 0;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .navbar-default .navbar-nav.navbar-right{
        float: none !important;
    }
    .navbar-default .navbar-nav{
        background-color: #EFAE39;
    }
    .navbar-default .navbar-nav > li{
        background-color: #EFAE39;
        border-left: 1px solid #CE1631;
        text-align: center;
    }
    .navbar-default .navbar-nav > li:first-child{
        border-left: 2px solid transparent;
    }
    .navbar-default .navbar-nav > li > a{
        color: #F8F8F8;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #F8F8F8;
        background-color: #EFAE39;
        text-align: center;
    }
}
@media only screen and (max-width: 767px){
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 100%;
    }
    .navbar-default .navbar-collapse{
        border:none;
        background-color: #31cbd1;
    }
    .navbar-default .navbar-nav > li {
        width: 50%;
        float: left;
    }
    .navbar-default .navbar-nav > li::after {
        clear: both;
        display: table;
        content: " ";
    }
    .navbar-default .navbar-nav > li:nth-child(2n+1) > a{
        border-right: 1px solid #219094;
        border-top: 1px solid #219094;
    }
    .navbar-default .navbar-nav > li:nth-child(2n) > a{
        border-top: 1px solid #219094;
    }
    .navbar-default .navbar-nav > li:nth-child(1) > a,
    .navbar-default .navbar-nav > li:nth-child(2) > a{
        border-top: none;
    }
    .navbar-default .navbar-nav > li:nth-child(6) > a{
        border-bottom: 1px solid #219094;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #F8F8F8;
        background-color: transparent;
        border-bottom: none;
        transition: border-bottom .3s ease-in-out;
    }
}

/* ============================================================================= */
/* ============================================================================= */
/* NEWS HOME */
.news-home{
    position: relative;
    margin: -180px auto 40px;
}
.news-home .container{
    padding: 0;
}
.news-home h1{
    margin-bottom: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.news-home .article{
    background-color: #FFFFFF;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
}
.news-home .article h3{
    font-weight: 900;
    color: #434463;
    text-align: right;
    padding: 0 50px;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}
.news-home .article p{
    font-size: 15px;
    text-align: right;
    line-height: 150%;
    color: #434463;
    padding: 15px 50px;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}
.news-home .article figure{
    width: 100%;
    overflow: hidden;
}
.news-home .article figure img{
    height: 585px;
}
.news-home .article:hover{
    background-color: #EFAE39;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
}
.news-home .article:hover h3, .news-home .article:hover p{
    color: rgba(255,255,255,.75);
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}

/* CARROSSEL DA HOME */
#owl-news .owl-next,
#owl-news .owl-prev{
    position: absolute;
    top: 50%;
    margin-top: -100px;
    font-size: 30px;
    background-color: #FFFFFF;
    padding: 0 20px;
}
#owl-news .owl-prev{
    left: -30px;
}
#owl-news .owl-next{
    right: -30px;
}
#owl-news .owl-pagination{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#owl-news .owl-pagination .owl-page{
    color: #434463;
    background-color: #FFFFFF;
    width: 100%;
    position: relative;
    padding: 10px 15px;
    text-align: center;
}
#owl-news .owl-pagination .owl-page:hover,
#owl-news .owl-pagination .owl-page.active{
    color: #FFFFFF;
    background-color: #EFAE39;
}





/* ============================================================================= */
/* LAST GAME INFO*/
.last-game-info{
}
.last-game-info .container{
    padding: 0;
}
.last-game-info .result{
    background-color: #EFAE39;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 25px 0 50px;
}

.last-game-info .result h1{
    font-weight: 900;
    color: #CD8810;
    background-color: transparent;
    font-size: 40px;
}
.last-game-info .result .logo{
    text-align: center;
    width: 100%;
}
.last-game-info .result .logo img{
    height: 167px;
    width: auto;
}
.last-game-info .result h2{
    font-size: 130px;
    color: #F8F8F8;
    font-weight: 900;
    margin: 0;
    text-align: center;
}
.last-game-info .result h2 span{
    color: #EDA421;
}
.last-game-info .result h3,
.last-game-info .result h3{
    text-align: center;
    color: #F8F8F8;
    font-weight: 700;
    font-size: 18px;
}
.last-game-info .match-name{
    color: #CB8810;
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
}



/* ============================================================================= */
/* THE TEAM */
.team-home{
    position: relative;
    height: 900px;
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
}
.team-home .container{
    position: relative;
}
.team-home .team-parallax{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../imagens/ball.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.team-home .content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(67, 68, 99,.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-box-shadow:    inset  0  10px 15px -5px rgba(67, 68, 99,.75),
                        inset  0 -10px 15px -5px rgba(67, 68, 99,.75);
    -webkit-box-shadow: inset  0  10px 15px -5px rgba(67, 68, 99,.75),
                        inset  0 -10px 15px -5px rgba(67, 68, 99,.75);
     box-shadow:        inset  0  10px 15px -5px rgba(67, 68, 99,.75),
                        inset  0 -10px 15px -5px rgba(67, 68, 99,.75);
}

.team-home .content span.title{
    font-size: 70px;
    font-weight: 300;
    color: #F8F8F8;
    padding: 15px 25px;
}
.team-home .content p{
    font-size: 16px;
    font-weight: normal;
    width: 70%;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    line-height: 180%;
    margin-bottom: 30px;
}
.team-home .content .player figure{
    height: 100%;
    max-height: 320px;
    overflow: hidden;
    position: relative;
    padding: 0 25px;
}
.team-home .content .player  img{
    max-height: 320px;
    height: 100%;
    width: 320px;
}
#owl-demo p{
    background-color: #EFAE39;
    margin: 0 30px;
    padding: 10px;
    width: 320px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
    position: relative;
}
#owl-demo p small{
    font-size: 14px;
    text-transform: capitalize;
}
#owl-demo p big{
    position: absolute;
    left: 10px;
    bottom: 50px;
    font-size: 130px;
    color: #9C690C;
    font-weight: 900;
}


/* OWL CAROUSEL */
#owl-demo{
    margin-top: 50px;
}
#owl-demo .owl-prev,
#owl-demo .owl-next{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: -55px;
    background-color: #9c690c;
    color: #FFFFFF;
}
#owl-demo .owl-prev{
    left: -10px;
}
#owl-demo .owl-next{
    right: -10px;
}




/* ============================================================================= */
/* ============================================================================= */
/* SIDEBAR */
.sidebar {
    padding-top: 10px;
    background-color: #efae39;
}
.sidebar h5{
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 0;
    text-transform: uppercase;
}

.sidebar .article ul {
    list-style: none;
}
.sidebar .article ul li{
    padding: 5px 20px;
}
.sidebar .article ul li:nth-child(2n) {
    background-color: #EDA421;
}
.sidebar .article ul li a{
    padding: 5px;
    color: rgba(0,0,0,.6);
    display: block;
    font-weight: 600;
}
.sidebar .article ul li a:hover{
    color: #222222;
}
.sidebar .article ul li small{
    color: rgba(0,0,0,.6);
    padding: 5px;
}
.sidebar .article ul li small::after{
    clear: both;
}
.sidebar .logo{
    width: 100%;
    text-align: center;
}
.sidebar .logo img{
    height: 80px;
}
.sidebar h2{
    text-align: center;
    font-weight: 700;
}
.sidebar .match-name{
    text-align: center;
    color: #FFFFFF;
}
/* ============================================================================= */
/* ============================================================================= */




/* ============================================================================= */
/* POST E NOTICIAS */
.post,
.news{
    margin-top: 100px;
}
.post .container,
.news .container{
    padding: 0;
}
.post h1,
.news h1{
    font-size: 62px;
    font-weight: 900;
    color: #FFFFFF;
    background-color: transparent;
    text-align: left;
}
.post .article{
    background-color: #FFFFFF;
}
.post .article p,
.news .article p{
    font-size: 15px;
    text-align: left;
    line-height: 150%;
    color: #222222;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}
.post p{
    padding: 15px 30px;
}
.post .article figure{
    width: 100%;
    overflow: hidden;
}
.post .article figure img{
    width: 100%;
    height: auto;
}
.post .article.last{
    background-color: #EFAE39;
}


.news .article{
    background-color: #FFFFFF;
}
.news .row.no-margin:nth-child(2n+1) .article{
    background-color: #FEF5F4;
}
.news .article h3{
    font-weight: 900;
    color: #222222;
    text-align: left;
}
.news .row.no-margin:nth-child(2n+1) .article h3,
.news .row.no-margin:nth-child(2n+1) .article p{
    text-align: right;
}

.news .article figure{
    width: 392px;
    height: 392px;
    overflow: hidden;
}
.post .article figure{
    width: 100%;
    overflow: hidden;
}
.news .article figure img{
    min-width: 392px;
    height: 392px;
}
.post .article figure img{
    width: 100%;
}


.news small{
    background-color: #434463;
    color: #FFFFFF;
    max-width: 290px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 8px 20px;
    margin: -15px;
}

.news .btn.btn-news{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 290px;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.news .row.no-margin:nth-child(2n+1) .article .btn.btn-news {
    left: 0;
}
/* ============================================================================= */
/* ============================================================================= */

.input-group{
    margin-bottom: 0;
}
.input-group-addon {
    padding: 6px 12px;
    color: #FFFFFF;
    text-align: center;
    background-color: #CB8810;
    border: none;
    border-radius: 0;
}
.input-group-addon:hover {
    background-color: #434463;
    color: #FFFFFF;
}
.input-group .form-control{
    background-color: #FFFFFF;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    font-weight: 700;
    color: #122737;
    line-height: 40px;
    height: 40px;
    border: 1px solid rgba(255,255,255,.75);
}
.post label{
    color: #FFFFFF;
    padding: 5px 12px;
}
/* ============================================================================= */
/* ============================================================================= */


/* ============================================================================= */
/* HISTORIA DO TIME */
.history{
    padding-top: 100px;
}
.history .container{
    padding: 0;
}
.history h1{
    font-size: 62px;
    font-weight: 900;
    color: #FFFFFF;
    background-color: transparent;
    text-align: left
}
.history-body{
    background-color: #FFFFFF;
    padding: 50px 30px;
}
.history-body p{
    font-size: 15px;
    text-align: left;
    line-height: 150%;
    color: #122737;
}
.history label{
    color: #FFFFFF;
    padding: 5px 12px;
}
/* ============================================================================= */
/* ============================================================================= */

/* ============================================================================= */
/* TEAM */
.team{
    position: relative;
    min-height: 900px;
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
}
.team .container{

}
.team h1{
    font-size: 62px;
    font-weight: 900;
    color: #FFFFFF;
    background-color: transparent;
}
.team .player{
    position: relative;
    width: 100%;
    min-height: 320px;
    max-height: 320px;
    overflow: hidden;
}
.team .player figure{
    width: auto;
    min-height: 320px;
    max-height: 320px;
    overflow: hidden;
}
.team .player figure img{
    transform: scale(1);
    transition: transform .3s ease-in-out;
}
.team .player .player-info{
    opacity: 1;
    position: absolute;
    top: 100%;
    background-color: #EFAE39;
    width: 100%;
    height: 100px;
    text-align: right;
    padding-top: 10px;
    color: #FFFFFF;
    margin-top: -100px;
    padding: 40px 15px 5px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.team .player .player-info h5{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
}
.team .player .player-info big{
    position: absolute;
    left: 10px;
    bottom: 0px;
    font-size: 130px;
    font-weight: 900;
    color: #CB8810;
    transition: color .3s ease-in-out;
}
.team .player a:hover .player-info{
    background-color: #FFFFFF;
    color: #CB8810;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.team .player a:hover .player-info big{
    color: #CB8810;
    transition: color .3s ease-in-out;
}
.team .player a:hover figure img{
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}
/* ============================================================================= */
/* ============================================================================= */

/* ============================================================================= */
/* GAMES */
.games{
    margin-top: 100px;
}
.games h1{
    font-size: 62px;
    font-weight: 900;
    color: #FFFFFF;
    background-color: transparent;
    text-align: left
}


/* ============================================================================= */
/* ============================================================================= */

/* ============================================================================= */
/* PAGINACAO */
.pagination{
    margin: 30px auto 0;
}
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0;
}
.pagination > li > a, .pagination > li > span {
    padding: 10px 20px;
    color: #222222;
    background-color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: 900;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus ,
.pagination > li.active > a{
    background-color: #EFAE39;
    color: #FFFFFF;
    border: 0;
}
.pagination > li.active > a:hover{

}
/* ============================================================================= */
/* FOOTER */
footer{
    background: url(../imagens/stadium.png) no-repeat center center / cover;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 75px;
}
footer .overlay{
    position: relative;
    -moz-box-shadow: inset 0 10px 15px -5px rgba(67,68,99,.75),
                     inset 0 -10px 15px -5px rgba(67,68,99,.75);
    -webkit-box-shadow: inset 0 10px 15px -5px rgba(67,68,99,.75),
                        inset 0 -10px 15px -5px rgba(67,68,99,.75);
    box-shadow: inset 0 10px 15px -5px rgba(67,68,99,.75),
                inset 0 -10px 15px -5px rgba(67,68,99,.75);
    height: 100%;
    width: 100%;
    background-color: rgba(67,68,99,.75);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 25px;
}
footer .overlay h5{
    color: #FFFFFF;
}
footer .overlay p{
    font-size: 15px;
    color: #FFFFFF;
}
footer .overlay ul {
    list-style: none;
}
footer .overlay ul li a{
    color: rgba(255,255,255,.5);
}
footer .overlay ul li a:hover{
    color: #FFFFFF;
    font-weight: 700;
}
footer .form-group{
    margin-bottom: 0px;
}
footer .form-control{
    background-color: #FFFFFF;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    font-weight: 700;
    color: #122737;
    line-height: 40px;
    height: 40px;
    border: 1px solid rgba(255,255,255,.75);
}
footer textarea.form-control{
    height: 100px;
    resize: none;
}
footer .form-control:focus{
    border-bottom-color: #FFFFFF;
    box-shadow: none;
}
footer label{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #EFAE39;
    height: 40px;
    width: 100px;
}
footer .form-group:last-child label{
    height: 100px;
}
footer h1{
    background-color: #FFF;
    padding: 15px;
    font-weight: 900;
    color: #434463;
    font-size: 50px;
}
footer .social-media{
    margin-top: 84px;
}
footer .social-media a{
    background-color: #FFFFFF;
    height: 75px;
    width: 75px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    float: left;
    width: 25%;
    color: #122737;
    -webkit-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}
footer .social-media a:hover{
    background-color: #EFAE39;
    color: #FFFFFF;
    -webkit-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out, color .4s ease-in-out;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}
footer .social-media a i{
    display: flex;
    align-items: center;
}

/* ============================================================================= */
/* MODAL */
.modal-dialog{
    max-width: 1250px;
    width: 100%;
}
.modal {
    /*! adjust transition time */
    -webkit-transition: all ease-out !important;
    -moz-transition: all 0.3s ease-out !important;
    -o-transition: all 0.3s ease-out !important;
    transition: all 0.3s ease-out !important;
}
.modal.in .modal-dialog {
    /*! editthis transform to any transform you want */
    -webkit-transform: scale(1, 1) !important;
    -ms-transform: scale(1, 1) !important;
    transform: scale(1, 1) !important;
}
.modal.fade .modal-dialog {
    /*! disable sliding from left/right/top/bottom */
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-content{
    max-height: 700px;
    height: 100%;
    padding-bottom: 50px;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow-y: auto;
    background-color: rgba(255,255,255,.9);
}

.modal-header .close{
    opacity: 1;
}
.modal-header .close .fa{
    color: #434463;
}
.modal-header .close:hover{
    transform: scale(1.1);
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    color: #434463
}

.modal h5{
    color: #122737;
    text-transform: uppercase;
}
.modal table{
    width: 100%;
}
.modal table thead{
    background-color: #122737;
}
.modal table thead tr{

}
.modal table thead tr th{
    padding: 10px;
    color: #FFFFFF;
    font-weight: normal;
}
.modal table tbody{

}
.modal table tbody tr{
    background-color: #FFFFFF;
}
.modal table tbody tr:nth-child(2n){
    background-color: #EEEEEE;
}
.modal table tbody tr td{
    padding: 10px;
    font-weight: 700;
}
.modal ul{
    list-style: none;
    margin-bottom: 50px;
}
.modal ul li{
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    color: #122737;
}
.modal p{
    font-size: 15px;
    font-weight: normal;
    line-height: 150%;
    color: #122737;
}
/* ============================================================================= */
/* ============================================================================= */
